

.carousel-container {
    width: 90%;
    height: 88%;
    margin: auto;
    
  }
  
  .carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px; 
    background-color: #f0f0f0; 
    /* border: 1px solid #ddd;  */
      } 
  
  

  .second-slide-content {
    background-color: #ffff00; 
  }

  .red-line {
    width: 200px;
    height: 2px;
    background-color: #ff0000;
    margin: 0 auto;
    /* rotate: 90deg; */
  }
  
  .text-white {
    color: white !important;
  }
  
  